<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:fragment="navbar">
	<nav class="navbar mb-3 navbar-expand-lg navbar-dark bg-primary">

		<a class="navbar-brand" href="#"><b>Issue Tracker</b></a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Organizations</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">All
						Issues</a></li>
			</ul>

			<button class="btn btn-outline-light">New Issue</button>
			<form method="post" th:action="@{/logout}">
				<button class="btn btn-outline-light" type="submit">log out</button>
			</form>
		</div>


	</nav>
</body>
</html>