<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:include="fragments/bootstrap-css::bootstrap-css"></th:block>
<title th:text="${'Issue tracker - ' + user.organization.name}"></title>
</head>
<body>
	<th:block th:include="fragments/navbar::navbar"></th:block>
		
	<div th:if="${#lists.isEmpty(user.organization.issues)}">
		<div class="mt-5 d-flex flex-column justify-content-center align-items-center">
			<h2 th:text="${'Hurray! Looks like ' + user.organization.name +' has no issues.'}"></h2>
			<img src="/img/chilling.svg" style="max-width: 200px; width: 100%; height: auto"/>
		</div>
	</div>
	
	
	<div th:if="${not #lists.isEmpty(user.organization.issues)}" class="container mt-5">
		<h3 th:text="${'issues in '+user.organization.name}"></h3>
		<table  class="table table-striped table-hover">
			<thead>
				<tr>
					<th>id</th>
					<th>Issue title</th>
					<th>Issue description</th>
					<th>Opened at</th>
					<th>Last updated</th>
					<th>status</th>
				</tr>
			</thead>
			<tbody >
				<tr th:each="issue: ${user.organization.issues}">
					<td th:text="${'#'+issue.issueId}"></td>
					<td><a th:href="@{'/issues/' + ${issue.issueId}}" th:text="${issue.title}"></a></td>
					<td th:text="${#strings.abbreviate(issue.description, 70)}"></td>
					<td th:text="${#dates.format(issue.createdAt, 'dd/MM/yyyy')}"></td>
					<td th:text="${issue.lastUpdated} ? ${#dates.format(issue.lastUpdated, 'dd/MM/yyyy')} : 'never'"></td>
					<td><span th:class="${'badge badge-pill badge-'+issue.badgeColor}" th:text="${issue.issueStatus}"></span></td>			
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<th:block th:include="fragments/bootstrap-js::bootstrap-js"></th:block>
</body>
</html>