<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:include="fragments/bootstrap-css::bootstrap-css"></th:block>
<title th:text="${'Issue tracker'}"></title>
</head>
<body>
	<th:block th:include="fragments/navbar::navbar"></th:block>


	<div th:if="${not #lists.isEmpty(organizations)}"
		class="container mt-5">
		<h1>Your Organizations</h1>
		<div class="table-responsive">
			<table class="mt-2 table table-striped table-hover">
				<thead>
					<th>Id</th>
					<th>Organization</th>
					<th>Issues</th>
				</thead>
				<tbody>
					<th:block th:each="organization: ${organizations}">
						<tr>
							<td th:text="${organization.organizationId}"></td>
							<td>
								<a th:text="${organization.name}" th:href="@{'/organization/' + ${organization.organizationId}}"></a>
							</td>
							<td th:text="${organization.getIssues().size()}"></td>
						</tr>
					</th:block>				
				</tbody>
			</table>
		</div>

		<div th:each="organization: ${organizations}">
					
		</div>
	</div>


	<th:block th:include="fragments/bootstrap-js::bootstrap-js"></th:block>


</body>
</html>