<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:include="fragments/bootstrap-css::bootstrap-css"></th:block>
<title>Invite your friends</title>
</head>
<body>
	<th:block th:include="fragments/navbar::navbar"></th:block>

	<div class="container">

		<div class="mt-4" style="width: 90%; max-width: 600px; margin: auto">
			<h3 class="display-4">Work together.</h3>
			<div class="card mb-3 mt-3">
				<div class="card-header">Invitation</div>
				<div class="card-body">
					<h5 class="card-title">Copy this link and send it to your coworkers</h5>
					<input style="width: 100%" class="p-1 mb-2 linkToCopy" th:value="${'https://kevinppaulo-issue-tracker.herokuapp.com/signup/' + user.organization.organizationId}">
					<button id="copyToClipboard" class="btn btn-primary">Copy to clipboard</button>
				</div>
			</div>
			<div class="w-100 d-flex justify-content-center">
			
				<img style="width: 300px; max-width: 90%; "
					src="/img/team_spirit.svg">
			</div>
		</div>

	</div>
	<th:block th:include="fragments/bootstrap-js::bootstrap-js"></th:block>
	<script>
		$('#copyToClipboard').click(function(){
		    $(this).siblings('input.linkToCopy').select();      
		    document.execCommand("copy");
		});
	</script>
</body>
</html>