<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:include="fragments/bootstrap-css::bootstrap-css"></th:block>
<title th:text="${'Issue #'+issue.issueId}"></title>
</head>
<body>
	<th:block th:include="fragments/navbar::navbar"></th:block>

	<div class="container mt-5 pb-5">
		<h4 class="display-4">
			<span th:text="${issue.title}"></span>
		</h4>
		<h6 class="text-muted"
			th:text="${'Issue opened in '+#dates.format(issue.createdAt, 'dd/MM/yyyy - HH:mm:ss')}"></h6>
		
		<div class="form-inline">
			<label for="status-select">Status: </label>
			<form id="statusForm" method="post" th:action="@{'/issues/' + ${issue.issueId} + '/edit'}">
				 <select name="issueStatus" class="ml-2 form-control" id="status-select">
					<option value="OPEN" th:selected="${issue.issueStatus.name() == 'OPEN'}">OPEN</option>
					<option value="CLOSED" th:selected="${issue.issueStatus.name() == 'CLOSED'}">CLOSED</option>
					<option value="IN_PROGRESS" th:selected="${issue.issueStatus.name() == 'IN_PROGRESS'}">IN PROGRESS</option>
				</select>
				<input type="hidden" name="issueId" th:value="${issue.issueId}">
				<input type="hidden" name="title" th:value="${issue.title}">
				<input type="hidden" name="description" th:value="${issue.description}">
			</form>
		</div>
		<hr />
		<p th:text="${issue.description}"></p>
		<hr />
		
		<h5>Comments</h5>
		<div th:unless="${issue.issueStatus.name() == 'CLOSED'}">
			<form method="post"
				th:action="@{'/issues/'+${issue.issueId} + '/comments'}">
				<textarea rows="5" style="width: 100%" name="content"
					placeholder="Lorem ipsum dolor sid amet"></textarea>
				<button class="btn btn-primary">Submit</button>
			</form>
		</div>

		<section>
			<div
				class=" mt-5 d-flex flex-column align-items-center justify-content-center"
				th:if="${#lists.isEmpty(comments)}">
				<h4>Looks like no one is talking about this...</h4>
				<img src="/img/public_discussion.svg"
					style="width: 80%; max-width: 300px">
			</div>

			<div class=" mt-1 d-flex flex-column  justify-content-center"
				th:if="${not #lists.isEmpty(comments)}">
				<div th:each="comment : ${comments}" class="card mt-4">
					<div class="card-header">
						<span th:text="${'@'+comment.author.username + ' said:'}"></span>
						<span class="text-muted"
							th:text="${#dates.format(comment.addedAt, 'dd/MM/yyyy - HH:mm:ss')}"></span>
					</div>

					<div class="card-body">
						<p th:text="${comment.content}"></p>
					</div>
				</div>
			</div>

		</section>



	</div>

	<th:block th:include="fragments/bootstrap-js::bootstrap-js"></th:block>
	
	<script>
		$("#status-select").on("change", ()=>{
    		const form = document.getElementById("statusForm");
    		form.submit();
		});
	</script>
	
</body>
</html>