 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:include="fragments/bootstrap-css::bootstrap-css"></th:block>
<title th:text="${'Issue #'+issue.issueId}"></title>
</head>
<body>
	<th:block th:include="fragments/navbar::navbar"></th:block>

	<div class="container mt-5 pb-5">
		<div class="form-group">
			<form id="titleForm" method="post" th:action="@{'/issues/' + ${issue.issueId} + '/edit'}">
				<input class="form-control form-control-lg border-left-0 border-top-0 border-right-0" type="text" name="title" th:value="${issue.title}">
				<input type="hidden" name="issueStatus" th:value="${issue.issueStatus}">
				<input type="hidden" name="issueId" th:value="${issue.issueId}">
				<input type="hidden" name="description" th:value="${issue.description}">
			</form>
		</div>
		<div class="form-group">
			<form id="deleteIssue" method="post" th:action="@{'/issues/' + ${issue.issueId} + '/delete'}">
				<input type="hidden" name="title" th:value="${issue.title}">
				<input type="hidden" name="issueStatus" th:value="${issue.issueStatus}">
				<input type="hidden" name="issueId" th:value="${issue.issueId}">
				<input type="hidden" name="description" th:value="${issue.description}">
				<button type="submit" class="btn btn-outline-danger ">Delete issue</button>
			</form>
		</div>
			
		<h6 class="text-muted"
			th:text="${'Issue opened in '+#dates.format(issue.createdAt, 'dd/MM/yyyy - HH:mm:ss')}"></h6>
		
		<div class="form-inline">
			<label for="status-select">Status: </label>
			<form id="statusForm" method="post" th:action="@{'/issues/' + ${issue.issueId} + '/edit'}">
				 <select name="issueStatus" class="ml-2 form-control" id="status-select">
					<option value="OPEN" th:selected="${issue.issueStatus.name() == 'OPEN'}">OPEN</option>
					<option value="RESOLVED" th:selected="${issue.issueStatus.name() == 'RESOLVED'}">RESOLVED</option>
					<option value="IN_PROGRESS" th:selected="${issue.issueStatus.name() == 'IN_PROGRESS'}">IN PROGRESS</option>
				</select>
				<input type="hidden" name="issueId" th:value="${issue.issueId}">
				<input type="hidden" name="title" th:value="${issue.title}">
				<input type="hidden" name="description" th:value="${issue.description}">
			</form>
		</div>
		
		<hr />
		

		<div id="description-area">
			<p th:utext="${issue.description}"></p>
			<button id="editBtn" class="btn btn-primary mb-2">Edit</button>
		</div>		
		
		<div id="description-form-area"  class="form-group" style="display: none">
			<form id="descriptionForm" method="post" th:action="@{'/issues/' + ${issue.issueId} + '/edit'}">
				<input type="hidden" name="issueStatus" th:value="${issue.issueStatus}">
				<input type="hidden" name="issueId" th:value="${issue.issueId}">
				<input type="hidden" name="title" th:value="${issue.title}">
				<textarea class="input-group" name="description" th:text="${issue.description}">
				</textarea>
				<button type="submit" class="btn btn-primary mt-2">Submit</button>
				<button id="cancelEditBtn" type="button" class="btn btn-secondary mt-2">cancel</button>
			</form>
		</div>
		
		
		
		<hr />
		
		<h5>Comments</h5>
		<div th:unless="${issue.issueStatus.name() == 'CLOSED' || issue.issueStatus.name() == 'RESOLVED'}">
			<form class="needs-validation" method="post"
				th:action="@{'/issues/'+${issue.issueId} + '/comments'}">
				<textarea required rows="5" style="width: 100%" name="content"
					placeholder="Lorem ipsum dolor sid amet"></textarea>
				<button class="btn btn-primary mt-3">Submit</button>
			</form>
		</div>

		<section>
			<div
				class=" mt-5 d-flex flex-column align-items-center justify-content-center"
				th:if="${#lists.isEmpty(comments)}">
				<h4>Looks like no one is talking about this...</h4>
				<img src="/img/public_discussion.svg"
					style="width: 80%; max-width: 300px">
			</div>

			<div class=" mt-1 d-flex flex-column  justify-content-center"
				th:if="${not #lists.isEmpty(comments)}">
				<div th:each="comment : ${comments}" class="card mt-4">
					<div class="card-header">
						<span th:text="${'@'+comment.author.username + ' said:'}"></span>
						<span class="text-muted"
							th:text="${#dates.format(comment.addedAt, 'dd/MM/yyyy - HH:mm:ss')}"></span>
					</div>

					<div class="card-body">
						<th:block th:utext="${comment.content}"></th:block>
					</div>
				</div>
			</div>

		</section>



	</div>

	<th:block th:include="fragments/bootstrap-js::bootstrap-js"></th:block>
	
	<script>
		$("#status-select").on("change", ()=>{
    		const form = document.getElementById("statusForm");
    		form.submit();
		});
		
		$("#titleForm input[name='title']").on("blur", ()=>{
    		const form = document.getElementById("titleForm");
    		form.submit();
		});
		
		$('#editBtn').click(()=>{
			$("#description-area").hide();
			$("#description-form-area").show();
		});
		
		$('#cancelEditBtn').click(()=>{
			$("#description-area").show();
			$("#description-form-area").hide();
		});
		
		$('textarea').summernote();
	</script>
	
</body>
</html>