<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Issue Tracker - Sign In</title>
<th:block th:include="fragments/bootstrap-css::bootstrap-css"></th:block>
</head>
<body>
	<div class="d-flex flex-column justify-content-center align-items center" style="height: 100vh">
		<div class="card ml-auto mr-auto" style="width: 19rem;">
			<div class="card-body">
				<h3 class="card-title">Sign In</h3>
				<small>You can use credentials <b>coachella</b> and <b>password</b> to log in</small>
				<form method="post" autocomplete="off" th:action="@{/login}" role="form">
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" class="form-control" name="username" id="username">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" name="password" id="password">
					</div>
					<p>Don't have an account? <a href="/signup" tabindex=-1>create one</a></p>
					<button type="submit" class="btn btn-primary btn-block">Sign in</button>
				</form>
			</div>
		</div>
	</div>
<th:block th:include="fragments/bootstrap-js::bootstrap-js"></th:block>
</body>
</html>