<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:include="fragments/bootstrap-css::bootstrap-css"></th:block>
<title>Issue Tracker - New Issue</title>
</head>
<body>
	<th:block th:include="fragments/navbar::navbar"></th:block>
	
	<div class="card ml-auto mt-5 mr-auto" style="width: 80%;">
		<div class="card-body">
			<h4 class="card-title">New Issue</h4>
			
			<form method="post" class="needs-validation" autocomplete="off" th:action="@{'/issues/new'}" role="form">
				<div class="form-group">
					<label for="organizationId">Organization</label>
					<select class="form-control" name="organizationId" id="organizationId">
						<th:block th:each="organization: ${organizations}">
							<option th:value="${organization.organizationId}" th:text="${organization.name}"></option>
						</th:block>
					</select>
				</div>
				
				<div class="form-group">
					<label for="title">Issue title</label>
					<input required type="text" class="form-control" name="title" id="title">
				</div>
				
				<div class="form-group">
					<label for="description">Description</label>
					<textarea required name="description" id="description" rows="18" style="width: 100%;"></textarea>
				</div>
				
				<button type="submit" class="btn btn-primary btn-block">Report issue</button>
			</form>
		</div>
	</div>
	
	<th:block th:include="fragments/bootstrap-js::bootstrap-js"></th:block>
	<script>
		$('textarea').summernote();
	</script>
</body>
</html>